.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/



.DS_Store
.DS_Store?
*/.DS_Store
**/.DS_Store

__pycache__
*/__pycache__
*/__pycache
**/__pycache
**/__pycache__
**/*__pycache__

*.vscode
.vscode
.env
*/.env

.csv
.zip
.jpg
*.csv
*.zip
*.jpg